---
layout: archive
---
<head><link rel="icon" type="image/png" href="assets/images/small_tree.png"></head>
{{ content }}

<!--
<img src="assets/images/unbossed.PNG" alt="Unbossed" width="500" height="600">

<hr>
-->

<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSfHeJwE6h8GLJ2dOojtfQOcEY14SDZ240gB-rxR2S0dmr649lhUnYbPcmcqnMsstMPl3i7mbYCiP5N/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
-->
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
